.row_title {
  display: flex;
  margin: 10px;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #0064ff;
  font-weight: 700;
}

/* age_row, sex_row */
.row {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: white;
}
.row:hover {
  transform: scale(1.1);
}

/* job_row */
.job_row {
  margin: 10px;
}

/* interest_row */
.interest_row {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: #f9fafb;
}
.interest_row:hover {
  transform: scale(1.1);
}
