/* mokaform-logo 1 */
.mokaform_logo {
    position: absolute;
    width: 256px;
    height: 144px;
    left: 832px;
    top: 233px;
    
    /* background: url(mokaform-logo.png); */
}

/* enter_email_text (가입한 이메일 주소를 입력해주세요.) */
.enter_email_text{
    position: absolute;
    width: 478px;
    height: 39px;
    left: 721px;
    top: 357px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #000000;
}

/* email_input */
.email_input{
    box-sizing: border-box;

    position: absolute;
    width: 461px;
    height: 70px;
    left: 729px;
    top: 453px;
    
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

/* confirm_button */
.confirm_button{
    position: absolute;
    width: 461px;
    height: 69px;
    left: 729px;
    top: 553px;
    
    background: rgba(0, 0, 0, 0.42);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}